.container{
    margin: 50px;
}
.pesananContainer {
    width: 1000px;
    margin-top: 50px;
  }
  .pesananContainer .tabel{
    margin-left: 70px;
  }
  .rowHead, .rowFooter{
      background-color: #AEDBCE;
  }
  .tabel{
    border-radius: 20px !important;
    margin-left: 50px;
}
.title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.buttonTambah{
  margin-bottom: 10px;
  margin-left: 40px;
}

.downloadButton{

  float: right !important;
  position: relative !important;
  padding-left: 30px !important;
margin-bottom: 30px !important;
padding: 15px !important;
margin-right: -50px !important;
}

.sorting{
  padding-right: 20px !important;
  width: 100px !important;
}

.filters{
  position: relative !important;
  padding-top: 50px !important;
  margin-left: 50px !important;
}