.content{
    margin: 50px;
}

.title{
    font-size: 50px;
    font-weight: bold;
}
.rowHead, .rowFooter{
    background-color: #AEDBCE;
}

.bodyContent{
    margin-top: 50px;
    width: 900px;
    height: 600px;
}
.tabel{
    border-radius: 20px !important;
}
.pesanContainer {
    width: 1000px;
    margin-left: -230px;
  }
  .pesanContainer .tabel{
    margin-left: 70px;
  }